/* Styling My profile components */
.profile {
  padding: 3vh;
  margin-top: 5vh;
  box-shadow: "2px 2px 3px rgba(46, 46, 46, 0.62)";
}

.profile-pic {
  border-radius: 50%;
}

.user_details {
  font-weight: 400;
  font-size: larger;
}

.centerAlign {
  justify-content: center;
}

/* Adding margin to the Graph */
.graph {
  margin: 2vh;
}
